.Container {
  position: fixed;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background-color: hsla(0, 0%, 0%, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  width: 40vw;
  height: 90vh;

  background-color: hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  backdrop-filter: blur(0.2rem);
  box-shadow: 0 0 1rem 0 hsla(0, 0%, 0%, 0.2);
}

.Header {
  position: relative;
  background-color: hsl(40, 42%, 80%);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 0.1rem solid hsla(0, 0%, 87%, 0.473);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 18vw;
  height: auto;
}

.HeaderTextContainer {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-family: 'Montserrat', cursive;
  font-size: 1.5rem;
  color: #0e0e0e;
  padding: 0 2rem;
}

.HeaderTitle {
  font-size: 1rem;
}

.ButtonClose {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  height: 1.5rem;
  width: 1.5rem;
  background: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 0%);
  border-radius: 50%;
}

.Content {
  height: 25%;
  border-bottom: 0.1rem solid hsl(0, 0%, 87%);
  padding: 2rem 0;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 3rem;

  font-size: 0.9rem;
}

.Footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem;
}

.ModalClose {
  border-radius: 0.4rem;
  background-color: transparent;
  font-weight: 600;
}

.ModalClose:hover {
  color: hsla(197, 14%, 25%, 0.8);
}

.Submit {
  border: 0;
  padding: 0.4rem;
  color: hsl(197, 14%, 25%);
}

.Submit:hover {
  background-color: hsla(197, 14%, 25%, 0.8);
}
